/*@font-face {
	font-family: 'Ancona-Ex-Regular';
	src: url('font/Ancona-Ex-Regular.eot');
	src: local('☺'), url('font/Ancona-Ex-Regular.woff') format('woff'), url('font/Ancona-Ex-Regular.ttf') format('truetype'), url('font/Ancona-Ex-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}*/
