body
	font-size 15px
	line-height 1.55
	color $normal-txt-color
	font-family: 'Ubuntu', sans-serif;
	@media(min-width:768px)
		font-size 18px
a
	position relative
	text-decoration none !important
	color $link_txt_color
	font-weight 100
	display inline-block
	transition color 0.35s ease-out
	&:hover
		color $link_txt_color_hover
	&:active
	&:focus
		color $link_txt_color_focus
	&:not(.c-btn)
		&:before
			position absolute
			content ""
			bottom -2px
			left 0
			right 100%
			background-color $linkLinea_bg_color
			height 2px
			transition all 0.3s ease-out
		&:hover
			&:before
				right 0
*
	&:active
	&:focus
	&:link
		outline none !important
.not-link
	&:before
		content none !important
img
svg
	width 100%
	max-width 100%
	height auto
section
	position relative
	z-index 10
	padding 50px 0 30px
.mainPage
	position relative
	overflow hidden
.contenedor {
	position: relative;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}
@media (min-width: 768px) {
	.contenedor {
		width: 750px;
	}
}
@media (min-width: 992px) {
	.contenedor {
		width: 970px;
	}
}
@media (min-width: 1200px) {
	.contenedor {
		width: 1170px;
	}
}
/* Helpers */
.cleaner
	box-sizing border-box
		*zoom: 1;
	&:before
	&:after
		display table
		line-height 0
		content ""
	&:after
		clear both
label.error
	position absolute
	left 1px
	font-weight 100 !important
	display inline-block !important
	top 50px !important
	font-size 13px !important
	color $lblError-txt-color !important
	line-height 1 !important
	text-align left
	height 13px
	border none !important
	transform translateY(0) !important
span.select-dropdown.error
input
textarea
select
	&.error
		box-shadow none !important
		border-bottom 1px solid $lblError-txt-color !important
		animation 0.7s 1 wobble-horizontal linear
@keyframes wobble-horizontal {
	16.65% {
		transform translateX(8px)
	}
	33.3% {
		transform translateX(-6px)
	}
	49.95% {
		transform: translateX(4px)
	}
	66.6% {
		transform translateX(-2px)
	}
	83.25% {
		transform translateX(1px)
	}
	100% {
		transform translateX(0)
	}
}
/* nav en scroll */
.nav--scroll
	background-color $navScroll-bg-color
.txta-box
	label.error
		top 91px
/* listas */
ol
ul
	list-style none
	padding 0
	margin auto
	text-align left
.myList
	&>li
		myBullet()
		&:not(:last-child)
			margin-bottom 10px
/* color al seleccionar */
*::-moz-selection{
	background: $seleccion-bg-color;
	color: $seleccion-txt-color;
}
*::selection {
	background: $seleccion-bg-color;
	color: $seleccion-txt-color;
}
/***************************************************
			Titles sections - linea grafica txt
****************************************************/
.tituloMain
	position relative
	text-align center
	margin auto auto 40px
	p
		font-size 16px
@media (min-width: 768px)
	.tituloMain
		p
			font-size 18px
@media (min-width: 992px)
	.tituloMain
		p
			font-size 20px
h1
h2
h3
	position relative
	line-height 1.25
	font-weight 100
h1
h2
h3
h4
h5
p
	margin auto auto 5px
h1
	font-size 26px
h2
	font-size 22px
.bajada
	font-size 16px
	a
		font-size inherit
h3
	font-size 18px
h4
	font-size 16px
@media (min-width: 768px)
	h1
		font-size 33px
	h2
		font-size 26px
	.bajada
		font-size 19px
	h3
		font-size 22px
	h4
		font-size 17px
@media (min-width: 992px)
	h1
		font-size 35px
	h2
		font-size 29px
	.bajada
		font-size 24px
@media (min-width: 1200px)
	h1
		font-size 40px
	h2
		font-size 34px
	h3
		font-size 25px
	h4
		font-size 20px
/***************************************************
					rich text
****************************************************/
.rtxt
	p
		margin 15px auto
	ul
		@extend .myList
	ol
		counter-reset my-counter
		li
			margin-bottom 5px
			counter-increment my-counter
			myBulletNumber()
	img
		margin 15px auto
/***************************************************
					button
****************************************************/
.c-btn
	display inline-block
	text-align center
	letter-spacing .5px
	text-decoration none
	color $primary
	margin 15px auto
	padding 8px 25px
	border 1px solid $primary
	border-radius 5px
	transition all .4s cubic-bezier(.16, .53, .15, .99) 0s !important
	p
		margin auto
	&:hover
	&:active
	&:focus
		box-shadow 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15)
		color #fff
		background-color $primary
.c-btn--primary
	background-color $btnMain-bg-color
	color #fff
	&:hover
		color $btnMain-txt-color-hover
c-btn--default
	background-color plomo_claro
	border-color plomo_claro
	color #fff
.c-btn--big
	width 100%
.c-btn--input
	padding 0 !important
	.waves-button-input
		padding 8px 25px
		font-style normal
