fx()
	display flex
	flex-wrap wrap
fx_as()
	fx()
	align-items flex-start
fx_ac()
	fx()
	align-items center
/* align start */
fx_as_ja()
	fx_as()
	justify-content space-around
fx_as_jb()
	fx_as()
	justify-content space-between
fx_as_jc()
	fx_as()
	justify-content center
/* align center */
fx_ac_ja()
	fx_ac()
	justify-content space-around
fx_ac_jb()
	fx_ac()
	justify-content space-between
fx_ac_jc()
	fx_ac()
	justify-content center

myBullet()
	position relative
	padding-left 20px
	&:before
		position absolute
		content ""
		top 3px
		left 0
		background-image url('../img/iconos-dev/bullet-01.svg')
		background-repeat no-repeat
		background-position 0 50%
		background-size 15px
		width 15px
		height 15px
/* numeros en lista ol */
myBulletNumber()
	position relative
	padding-left 22px
	&:before
		position absolute
		content counter(my-awesome-counter,decimal)"."
		top 0px
		left 0
		font-family: 'Ubuntu', sans-serif;
/* para animation class wow scroll */
animated()
	animation-duration 0.5s
	animation-fill-mode both
