.u-no-scroll
	overflow hidden
.u-noCursor
	cursor default
.u-inline
	position relative
	display inline-block
.u-centerTxt
	text-align center

.u-mb-10
	margin-bottom 10px
.u-mt-10
	margin-top	10px
.u-p-0
	padding 0 !important
.u-ph-15
	padding-left 15px !important
	padding-right 15px !important

.u-fx_ac_jc
	fx_ac_jc()
.u-fx_ac_jb
	fx_ac_jb()
.u-fx_as_jc
	fx_as_jc()
.u-fx_as
	fx_as()

.u-bgPlomo--light
	background-color plomo_bg_claro
