/***************************************************
					colores
****************************************************/
negro=rgba(24, 24, 24, 1)
rojo=#ff6375
rojo_intenso=#D9012A
plomo_oscuro=#2C2C2C
plomo_claro=#CFDADD
plomo_bg_claro=#f4f5f5
plomo_border_input=#B9B9B9
celeste=#00C1F2
/***************************************************
					general
****************************************************/
$primary=rojo
$secundary=celeste

/***************************************************
					color link href
****************************************************/
$link_txt_color=$primary
$link_txt_color_hover=$secundary
$link_txt_color_focus=$secundary

$linkLinea_bg_color=$secundary

/***************************************************
					bg boton main
****************************************************/
$btnMain-txt-color=#fff
$btnMain-txt-color-hover=#fff
$btnMain-txt-color-focus=#fff

$btnMain-bg-color=$primary
$btnMain-bg-color-hover=$primary
$btnMain-bg-color-focus=$primary

/***************************************************
					color texto titulos y normal
****************************************************/
$titulo-txt-color=#181818
$bajada-txt-color=#181818
$subtitulo-txt-color=#181818
$normal-txt-color=#47525d

/***************************************************
					form
****************************************************/
$lblError-txt-color=red
$placeholder-txt-color=#6d6d6d
$input-txt-color=negro

$bar-bg-active=#a9a9a9
/***************************************************
					selecion
****************************************************/
$seleccion-txt-color=#fff
$seleccion-bg-color=rgba(0,0,0,0.8)

/***************************************************
					progress normal
****************************************************/
$progressLine-bg-color=#fb0a2a

/***************************************************
					btn gotop
****************************************************/
$btnGoTop-bg-color=$secundary

/***************************************************
					menu
****************************************************/
$nav-bg-color=transparent
$navScroll-bg-color=#fff

/***************************************************
					footer
****************************************************/
$rayaSeparadora=#cacaca
